.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

bin/
obj/
Debug/
Release/
x64/
x86/
bld/
log/

TestResult*/
*.VisualState.xml
TestResult.xml
BuildLog.*

*.cachefile
*.tmp
*.log
*.svclog
*.pidb
*.pdb
*.obj
*.pch

*.psess
*.vsp
*.vspx
