@using System.Linq.Expressions
<InputSelect TValue="T" Value="Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression">
    @foreach (var value in ValueSource)
    {
        string valueText = ToText(value);
        <option value="@value">@valueText</option>
    }
</InputSelect>

@typeparam T
@typeparam E
@code {
    [Parameter] public required T Value { get; set; }
    [Parameter] public EventCallback<T> ValueChanged { get; set; }
    [Parameter] public Expression<Func<T>> ValueExpression { get; set; } = default!;
    [Parameter] public required IEnumerable<E> ValueSource { get; set; }
    [Parameter] public required Func<E, string> ToText { get; set; }
    //misschien disabledSelect & disabledOption Predicate maken
}

