<div class="lifted-box bg-white shadow p-2 d-flex @Classes justify-content-center ">
    @ChildContent
</div>

<style>
    .lifted-box {
        min-height: 200px; 
        min-width: 500px; 
        max-width: fit-content; 
        max-height: fit-content; 
        border-radius: 0.5rem; 
    }
</style>


@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public String Classes { get; set; } = "flex-column";
}
