@inherits WizardStepBase

<EditForm Model="@Wiz.WizardModel.Rooms" OnValidSubmit="GoToNextStep">
    <ExamRoomTableComponent ShowUsedCapacity="false" Rooms="Wiz.WizardModel.Rooms.Where(r => !r.ExamRoomNotes.HasFlag(ExamRoomNotes.SB))" />
    <div class="row justify-content-center">
        <div class="col-auto ">
            <button type="submit" class="btn btn-primary">Continue</button>
        </div>
    </div>
</EditForm>
@code {
    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
