@inherits WizardStepBase
@using Models

<div class="container">
@if (_VcStudents is not null)
    {
        @foreach (var (student, olod) in _VcStudents)
        {
            <div class="row">
                <div class="col-1 flex-grow-1 text-end">
                    <p>@(olod.Traject.Equals(Traject.VC) ? "VC" : "TIAO")</p>
                </div>
                <div class="col-6 flex-grow-1 text-end">
                    <p>@student.Name:</p>
                </div>
                <div class="col-2 flex-grow-1">
                    <InputSelectComponent T="City?" E="City?" @bind-Value="olod.VCCity" ValueSource="@(olod.Traject.Equals(Traject.VC) ? VCChoices : TIAOChoices)" ToText="@(o => o.HasValue ? o.Value.ToString() : "Online")" />
                </div>
            </div>
        }
    }
    <div class="row justify-content-center">
        <div class="col-auto ">
            <button type="button" @onclick="GoToNextStep" class="btn btn-primary">Verder</button>
        </div>
    </div>
</div>

@code {
    private IEnumerable<(Student, Olod)>? _VcStudents;
    private City?[] VCChoices = [null, City.Gent, City.Aalst];
    private City?[] TIAOChoices = [City.Gent, City.Aalst];

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _VcStudents = Wiz.WizardModel.Students.Values.GetStudentsWithOlod(Wiz.WizardModel.Olod!).GetTIAOVCStudents();
    }
}
