@inherits WizardStepBase
@using Models

<div class="container">
@if (_VcStudents is not null)
    {
        @foreach (var (student, olod) in _VcStudents)
        {
            <div class="row">
                <div class="col-4 flex-grow-1 text-end">
                    <p>@student.Name:</p>
                </div>
                <div class="col-auto flex-grow-1">
                    <InputSelectComponent T="City?" E="City?" @bind-Value="olod.VCCity" ValueSource="choices" ToText="@(o => o.HasValue ? o.Value.ToString() : "Online")" />
                </div>
            </div>
        }
    }
    <div class="row justify-content-center">
        <div class="col-auto ">
            <button type="button" @onclick="GoToNextStep" class="btn btn-primary">Continue</button>
        </div>
    </div>
</div>

@code {
    private IEnumerable<(Student, Olod)>? _VcStudents;
    private City?[] choices = [null, City.Aalst, City.Gent];

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _VcStudents = Wiz.WizardModel.Students.Values.GetStudentsWithOlod(Wiz.WizardModel.Olod!).GetTIAOVCStudents();
    }
}
