@inherits WizardStepBase
@inject ErrorService Err
@using Models

<div class="d-flex flex-row justify-content-around">
    <div class="d-flex justify-content-center flex-column">
        <button class="btn btn-primary" @onclick="() => DivideStudents(City.Gent, _gentPercentage)">Maak verdeling Gent</button>
        <InputNumber TValue="double" @bind-Value="_gentPercentage" DisplayName="gent-percentage" type="range" min="0.00" max="1.00"/>
        <span class="text-center">@($"{_gentPercentage * 100:F0}%")</span>
    </div>
    <div class="d-flex justify-content-center flex-column">
        <button class="btn btn-primary" @onclick="() => DivideStudents(City.Aalst, _aalstPercentage)">Maak verdeling Aalst</button>
        <InputNumber TValue="double" @bind-Value="_aalstPercentage" DisplayName="aalst-percentage" type="range" min="0.00" max="1.00"/>
        <span class="text-center">@($"{_aalstPercentage * 100:F0}%")</span>
    </div>
    <div class="d-flex justify-content-around flex-column">
        <button class="btn btn-primary" @onclick="() => _sortByStudentName = true">Sorteer op naam</button>
        <button class="btn btn-primary" @onclick="() => _sortByStudentName = false">Sorteer op klas</button>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto ">
            <button type="button" @onclick="SaveRoomChoices" class="btn btn-primary">Sla lokalen op</button>
        </div>
    </div>
</div>
@if (Err.ErrorMessage is not null)
{
   <p>@Err.ErrorMessage</p> 
}
<ExamRoomTableComponent ShowUsedCapacity="true" Rooms="Wiz.WizardModel.Rooms.Where(r => !r.ExamRoomNotes.HasFlag(ExamRoomNotes.SB)).OrderByDescending(r => r.Chosen).ThenBy(r => r.Name)"/>


<div class="row justify-content-center">
    <div class="col-auto ">
        <button type="button" @onclick="GoToNextStep" class="btn btn-primary">Verder</button>
    </div>
</div>

@code {
    //Assign examrooms to students
    double _gentPercentage = 0.2;
    double _aalstPercentage = 0.2;
    bool _sortByStudentName = true;

    List<Student> _gentStudents = new List<Student>();
    List<Student> _aalstStudents = new List<Student>();


    private void DivideStudents(City city, double percentage)
    {
        try
        {
            Wiz.AssignStudents(city, _sortByStudentName, percentage);
            Wiz.WizardModel.CityStudentOrderingByName[city.Equals(City.Gent) ? 0 : 1] = _sortByStudentName;
            Err.ClearError();
            StateHasChanged();
        }
        catch (ExamRoomAssignmentException e)
        {
            Err.ReportError(e, e.Message);
        } 
        catch (ArgumentException e)
        {
            Err.ReportError(e, e.Message); 
        }
        catch (Exception e)
        {
            Err.ReportError(e, e.Message);
        }
    }

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private async Task SaveRoomChoices()
    {
        await SaveStateToSessionStorage();
    }
}
