@inherits WizardStepBase
@inject ErrorService Err
@using Models

<div class="d-flex flex-row justify-content-around">
    <div class="d-flex justify-content-center flex-column">
        <button @onclick="() => DivideStudents(City.Gent, _gentPercentage)">Generate Gent</button>
        <InputNumber TValue="double" @bind-Value="_gentPercentage" DisplayName="gent-percentage" type="range" min="0.00" max="1.00"/>
    </div>
    <div class="d-flex justify-content-center flex-column">
        <button @onclick="() => DivideStudents(City.Aalst, _aalstPercentage)">Generate Aalst</button>
        <InputNumber TValue="double" @bind-Value="_aalstPercentage" DisplayName="aalst-percentage" type="range" min="0.00" max="1.00"/>
    </div>
</div>
<ExamRoomTableComponent ShowUsedCapacity="true" Rooms="Wiz.WizardModel.Rooms.Where(r => !r.ExamRoomNotes.HasFlag(ExamRoomNotes.SB))"/>


<div class="row justify-content-center">
    <div class="col-auto ">
        <button type="button" @onclick="GoToNextStep" class="btn btn-primary">Continue</button>
    </div>
</div>

@code {
    //Chosenrooms instellen
    double _gentPercentage = 0.2;
    double _aalstPercentage = 0.2;

    List<Student> _gentStudents = new List<Student>();
    List<Student> _aalstStudents = new List<Student>();

    private void DivideStudents(City city, double percentage)
    {
        try
        {
            Wiz.AssignStudents(city, percentage);
            Err.ClearError();
            StateHasChanged();
        }
        catch (InvalidOperationException e)
        {
            Err.ReportError(e, e.Message);
        } 
    }

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
