@inherits WizardStepBase

<EditForm Model="@Wiz.WizardModel" OnValidSubmit="GoToNextStep">

<div class="container">
    <div class="row">
        <div class="col-4 flex-grow-1 text-end">
            <p>Select the Olod for the exam list:</p>
        </div>
        <div class="col-7 flex-grow-1">
                @if (OlodNames is not null)
                {
                    <InputSelectComponent T="string" E="string" 
                        @bind-BindValue="@Wiz.WizardModel.Olod"  
                        ValueSource="OlodNames.Order()" 
                        ToText="s => s"/>
                }
        </div>
    </div>
    <div class="row">
        <div class="col-4 flex-grow-1 text-end">
            <p>Select the type of exam:</p>
        </div>
        <div class="col-7 flex-grow-1">
            <InputSelectComponent T="ExamType?" E="ExamType" 
                @bind-BindValue="@Wiz.WizardModel.ExamType" 
                ValueSource="Enum.GetValues(typeof(ExamType)).Cast<ExamType>()" 
                ToText="e => e.ToString()[0] + e.ToString()[1..].ToLower()" />
        </div>
    </div>
    <div class="row">
        <div class="col-4 flex-grow-1 text-end">
            <p>What to do with TIAO/VC:</p>
        </div>
        <div class="col-7 flex-grow-1">
            <InputSelectComponent T="DistanceLearningClassroomType?" E="DistanceLearningClassroomType" 
                @bind-BindValue="@Wiz.WizardModel.DistanceLearningClassroomType"
                ValueSource="Enum.GetValues(typeof(DistanceLearningClassroomType)).Cast<DistanceLearningClassroomType>()"
                ToText="e => e.ToString()[0] + e.ToString()[1..].ToLower()"/>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto ">
            <button type="submit" class="btn btn-primary">Continue</button>
        </div>
    </div>
</div>
</EditForm>
@code {
    //Selecteer OLOD, Type examen & Lokaal TIAO/VC

    public required IEnumerable<string> OlodNames;

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        OlodNames = Wiz.WizardModel.Students.Values.SelectMany(s => s.Olods).Select(o => o.Name).ToHashSet();
    }

}
