@page "/"
@layout CenterLayout
@inject NavigationManager Nav
@inject WizardState Wiz

<PageTitle>Home</PageTitle>
<MainBox>
    <div class="d-flex flex-row align-items-center justify-content-around">
        <div class="d-flex flex-column align-items-center">   
            <h1>Start that workflow!</h1>
            Click the button to start the wizard.
        </div>
        <button class="btn btn-primary" @onclick="StartWizard">Begin!</button>
    </div>
</MainBox>

@code{
    private void StartWizard()
    {
        Nav.NavigateTo("/wizard/step/1");
    }
}


