@page "/wizard/step/{step:int}"
@using excel_workflow.Shared
@layout CenterLayout

<PageTitle>Step @Step</PageTitle>

<h2 class="position-relative text-decoration-underline">Step @Step</h2>
<CascadingValue Value="Step">
<MainBox>
    @switch (Step)
    {
        case 1:
            <Step1Component />
            break;
        case 2:
            <Step2Component />
            break;
        case 3:
            <Step3Component />
            break;
        case 4:
            <Step4Component />
            break;
        case 5:
            <Step5Component />
            break;
        case 6:
            break;
        case 7:
            break;
        case 8:
            break;
    } 
</MainBox>
</CascadingValue>

@code {
    [Parameter]
    public required int Step { get; set; }
}
