@page "/wizard/step/{step:int}"
@using excel_workflow.Shared
@layout CenterLayout

<PageTitle>Step @Step</PageTitle>

<h2 class="position-relative text-decoration-underline">Step @Step</h2>
<CascadingValue Value="Step">
    @switch (Step)
    {
        case 1:
        <MainBox>
            <Step1Component />
        </MainBox>
            break;
        case 2:
        <MainBox>
            <Step2Component />
        </MainBox>
            break;
        case 3:
        <MainBox>
            <Step3Component />
        </MainBox>
            break;
        case 4:
        <MainBox>
            <Step4Component />
        </MainBox>
            break;
        case 5:
        <MainBox>
            <Step5Component />
        </MainBox>
            break;
        case 6:
        <MainBox>
            <Step6Component />
        </MainBox>
            break;
        case 7:
        <MainBox>
            <Step7Component />
        </MainBox>
            break;
        case 8:
        <MainBox>
            <Step8Component />
        </MainBox>
            break;
        case 9:
        <MainBox>
            <Step9Component />
        </MainBox>
            break;
    } 
</CascadingValue>

@code {
    [Parameter]
    public required int Step { get; set; }
}
